.main-container {
	position: relative;
}

.background {
	width: 100px;
	height: auto;
}

.login-container {
	position: absolute;
	top: 50px;
}

.welcome-title {
	font-size: 30px;
}

.welcome-about {
	font-size: 20px;
}
